<ion-header>
  <ion-toolbar>
    <ion-title>asamblea</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-jitsi></app-jitsi>
  <div class="p-3 d-flex justify-content-between">
    <h3>Quorum 34%</h3>
    <ion-button>
      <ion-icon name="hand-left-outline"></ion-icon>
      Pedir palabra
    </ion-button>
  </div>
  <canvas baseChart class="chart" [data]="doughnutChartData" [type]="doughnutChartType">
  </canvas>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title>Footer</ion-title>
    <app-tabs (modalEvent)="openModal($event)"></app-tabs>

  </ion-toolbar>
</ion-footer>