<ion-header>
  <ion-toolbar>

    <ion-title>Votaciones</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="atras()" [strong]="true">Volver</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="container">

    <ion-card *ngFor="let voto of votos$">
      <ion-card-header>
        <div class="d-flex justify-content-between">

          <ion-card-title>{{voto.nombre}}</ion-card-title>
          <ion-chip (click)="changeViewVoto(voto)" [color]="voto.estado === true ? 'success': 'danger'">{{voto.estado
            === true ?
            'activo':'cerrado'}}
            <ion-icon *ngIf="!voto.seeVoto && voto.estado === false " name="chevron-down-outline"></ion-icon>
            <ion-icon *ngIf="voto.seeVoto && voto.estado === false " name="chevron-up-outline"></ion-icon>
          </ion-chip>
        </div>
      </ion-card-header>
      <ion-card-content *ngIf="voto.seeVoto === true "
        [ngClass]="{'animate__fadeInDown animate__faster': voto.seeVoto,'animate__fadeOutUp':!voto.seeVoto}"
        class="mt-3 animate__animated ">
        {{voto.concepto}}
        <div *ngIf="!votosVotados.includes(voto.id) && voto.estado">

          <h1 class="text-center">opciones a votar:</h1>
          <div class="d-flex justify-content-center my-3 " *ngFor="let opcion of voto.opciones">

            <ion-button color="warning" shape="round">
              {{opcion.nombre}}
              <ion-checkbox color="success" class="ms-2" slot="end"></ion-checkbox>
            </ion-button>
            <!-- <ion-button [disabled]="!voto.activo || miInmueble.representado !== undefined" (click)="votar(opcion)"
              shape="round">
              {{opcion.nombre}}
            </ion-button> -->

          </div>
        </div>
        <div *ngIf="votosVotados.includes(voto.id)">
          <h3>
            Ya votaste!!!
          </h3>
        </div>
        <canvas baseChart class="chart" [data]="chartData(voto)" [type]="pieChartType" [options]="pieChartOptions"
          [plugins]="pieChartPlugins">
        </canvas>
        <div *ngFor="let item of voto.opciones">
          <h3>{{item.nombre}}: {{item.cantidadVotos}} votantes / {{item.quorumRespectivo}}%</h3>
        </div>
        <h3>abstiene:{{noVotantes}}%</h3>


      </ion-card-content>
    </ion-card>
  </div>
</ion-content>