<ion-tabs>
  <ion-tab-bar slot="bottom">
    <!-- <ion-tab-button>
      <ion-icon name="newspaper-outline"></ion-icon>
    </ion-tab-button> -->
    <ion-tab-button (click)="sendModal('chat')">
      <ion-icon name="chatbubbles-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button (click)="sendModal('votos')">
      <ion-icon name="checkbox-outline"></ion-icon>
    </ion-tab-button>
    <!-- <ion-tab-button>
      <ion-icon name="cog-outline"></ion-icon>
    </ion-tab-button> -->
    <ion-tab-button (click)="sendModal('asistentes')">
      <ion-icon name="people-outline"></ion-icon>
      <!-- <ion-icon name="cog-outline"></ion-icon> -->
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>